/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/*   Eigene Klassen */
.dark-app {
  background-color: #151517;
  background: linear-gradient(180deg, #36343b 10%, #212327 100%);
}
.light-app {
  background-color: #eceef9;
}

.light {
  color: #212327;
}
.dark {
  color: #fafafa;
}

.info-card {
  border: none;
}

.text-dark {
  color: #fafafa;
}
.text-light {
  color: #212327;
}

.info-card-light {
  background: linear-gradient(160deg, #fc4e0b 20%, #ef9e28);
  -webkit-box-shadow: 5px 5px 17px 2px #ef9e28;
  box-shadow: 5px 5px 17px 2px #ef9e28;
}
.info-card-dark {
  background: linear-gradient(160deg, #6206f0 0%, #4148ff 20%, #428dff 100%);
  -webkit-box-shadow: 5px 5px 17px 2px #4148ff;
  box-shadow: 5px 5px 17px 2px #4148ff;
}

.info-card-text {
  color: #fafafafa;
}
.info-card-text-light {
  /* ... */
}

.info-card-title {
  mix-blend-mode: soft-light;
  color: white;
}
.info-card-title-light {
  /* ... */
}

.clickable {
  border-radius: 0.5rem;
}
.clickable:hover {
  background-color: #fafafa;
  color: #212327;
}

.clickable:hover > a > div > .text-dark,
.clickable:hover > a > div > p > .text-dark {
  color: #212327;
}
.clickable:hover > a > div > .text-light,
.clickable:hover > p,
.clickable:hover > a > div > p > .text-light {
  color: #212327;
}

.header {
}
.header-light {
}
.header-dark {
}
.header-top {
  /* background-color: #fff; */
}

.nav-bar {
  color: #fafafa;
}

.nav-bar-active.light {
  border-top: solid 3px #fc4e0b;
  border-radius: 0% 0% 0.5rem 0.5rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(116, 161, 182, 0.2) 100%
  );
}
.nav-bar-active-side.light {
  border-top: none;
  background: linear-gradient(
    270deg,
    rgba(54, 107, 135, 0) 70%,
    rgba(116, 161, 182, 0.15) 100%
  );
  border-radius: 0% 0.5rem 0.5rem 0%;
  border-left: solid 3px #fc4e0b;
}
.nav-bar-active.light > a > div > p > svg,
.nav-bar-active.light a > div > p > p {
  color: #fc4e0b !important;
  font-weight: bolder;
}

.nav-bar-active.dark {
  border-top: solid 3px #4148ff;
  border-radius: 0% 0% 0.5rem 0.5rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(116, 161, 182, 0.2) 100%
  );
}
.nav-bar-active-side.dark {
  border-top: none;
  background: linear-gradient(
    270deg,
    rgba(54, 107, 135, 0) 70%,
    rgba(116, 161, 182, 0.15) 100%
  );
  border-radius: 0% 0.5rem 0.5rem 0%;
  border-left: solid 3px #428dff;
}
.nav-bar-active.dark > a > div > p > svg,
.nav-bar-active.dark a > div > p > p {
  color: #428dff !important;
  font-weight: bolder;
}

.nav-bar-bottom.light {
  background-color: rgba(255, 255, 255, 0.5);
}
.nav-bar-bottom.dark {
  /* background-color: rgba(43, 45, 51, 0.5); */
}

.raven {
  position: absolute;
  height: 90%;
  width: 50%;
  overflow: hidden;
  right: 4rem;
  bottom: 1rem;
}

.raven.left {
  left: 4rem;
}

.raven > img {
  mix-blend-mode: soft-light;
  opacity: 0.2;
}

.selection-box {
  background-color: transparent; /* #a1a1aa */
  cursor: pointer;
}
.selection-box:hover {
  background-color: #fafafa;
  color: #212327;
}

.selection-box > div > svg {
  color: #a1a1aa;
}

.selection-box.active > div > svg {
  background-color: transparent; /* #a1a1aa */
  cursor: pointer;
  color: #fc4e0b;
}
.selection-box.active {
  border: 2px solid #fc4e0b;
  color: #fc4e0b;
  font-weight: bold;
}
