/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/*   Eigene Klassen */
.dark {
  background-color: #151517;
}
.light {
  background-color: #eceef9;
}

.info-card {
  border: none;
}

.info-card-light {
  background: linear-gradient(160deg, #fc4e0b 20%, #ef9e28);
  -webkit-box-shadow: 5px 5px 17px 2px #ef9e28;
  box-shadow: 5px 5px 17px 2px #ef9e28;
}
.info-card-dark {
  background: linear-gradient(160deg, #6206f0 0%, #4148ff 20%, #428dff 100%);
  -webkit-box-shadow: 5px 5px 17px 2px #4148ff;
  box-shadow: 5px 5px 17px 2px #4148ff;
}

.info-card-text {
  color: #fafafafa;
}
.info-card-text-light {
  /* ... */
}

.info-card-title {
  color: white;
}
.info-card-title-light {
  /* ... */
}

.clickable {
  border-radius: 0.5rem;
}
.clickable:hover {
  background-color: aliceblue;
}

.header {
  background-color: #fff;
}
.nav-bar {
}

.nav-bar-bottom {
  background-color: #fff;
}
